/* *{
  
} */

/* body {
  background-color: #1B263B;
  padding: 5vh 5vw; 
  overflow: hidden;
  max-height: 100vh;
} */

.all {
  height: 100vh;
  background-color: #0D1B2A;
  /* border: 1px solid #0D1B2A;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  border-radius: 20px;
  flex-shrink: 0; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
position: relative;
}

#navbar li a, .navlink {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #E0E1DD;
  transition: .3s ease-in-out;
  cursor: pointer;
}

#navbar li a:hover {
  color: #778DA9;
}

/*****************************  HERO  ***********************************/


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #E0E1DD;
  padding: 30px 30px; 
  margin: 5px;
  text-align: center;
}

.hero .barre {
  width: 100%;
  height: 2px;
  background-color: #415A77; /* Couleur de la barre */
  margin-top: 10px; /* Espace au-dessus de la barre */
  margin-bottom: 10px; /* Espace en-dessous de la barre */
}

.hero img {
  width: 50%;
  height: 50%;
}
.barre2 {
  width: 2px;
  margin-left: 25px;
  height: 70%;
  background-color: #415A77;
}
.hero {
  display: grid;
  grid-template-columns: 95% 5%;
}

@media screen and (max-width: 1000px) {
  .textHero {
    display:none
  }
}

/******************************  APropos  **********************************/

.page {
  display: grid;
  grid-template-columns: 30%  70%;
  align-items: center;
  justify-content: center;
  color: #E0E1DD;
  height: 75vh;
  padding-top: 20px;
  padding-left:  5vw;
}

.page .propos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 5vw;
}

/**************************** Compétences ********************************/


.card-competence {
  background-color: #1B263B;
  width: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px 20px;
  /* max-height: 15vh; */
  padding-left: 50px;
  padding-right: 10vh ;
}

.card-competence .part1 {
  font-size: 2vh;
  line-height: 1;
} 

.card-competence img {
  width: auto;
  height: 100%;
  max-width: 9vw;
}
.image-container {
  padding-right: 2vw;
  width: 10%;
}

.tout-comp {
  max-width: 60vw;
  overflow: auto;
  max-height: 75vh;
}


/******************************** Projets ********************************/

.chercher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chercher input {
  max-width: 30vw;
  min-width: 30vw
}

.chercher button {
  margin: 10px;
  padding: 5px;
  min-width: 10vw;
  border: 1px solid transparent;
  background: #e0e1dd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
}

.chercher button:nth-child(3) {
  font-size: 0.9rem;
}


.projectAll {
  display: flex;
  align-items: center;
  background-color: #1B263B;
  justify-content: space-between;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
  /* height: 15vh; */
}

.projectAll .desc {
  text-align: center;
  color: #E0E1DD;
  line-height: 1;
  
}

.projectAll a {
  color: #E0E1DD;
  text-decoration: none;
  background-color: #0D1B2A;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
}

.projectAll a:hover {
background-color: #E0E1DD;
color: #0D1B2A;
}
.projectAll img {
  width: 15%;
}

/*barre de recherche : voir contact*/



/****************************  Contact  ************************************/

.contactForm {
  width: 50%;
  min-width: 40vw;
  max-width: 60vw;
  max-height: 60vh;
  background: #1b263b;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  color: #e0e1dd;
  padding: 50px;
  font-size: 1.3rem;
} 

.contact-container {
  overflow: auto;
  /* max-height: 60vh; */

  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactForm::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 150px;
  background: linear-gradient(65deg, #415a77, #778da9);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.contactForm div {
  transition: 0.2s;
}

.contactForm label {
  letter-spacing: 1px;
}

input[type="text"],
.contactForm textarea {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: #e0e1dd;
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  padding-left: 10px;
  transition: 0.2s;
}

.contactForm p {
  margin-bottom: 20px;
  display: block;
  font-size: 0.9rem;
  transition: 0.3s;
  color: rgb(233, 42, 42);
}

.contactForm input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #415a77, #778da9);
  width: 70%;
  margin: 0 auto 0;
  color: #0D1B2A;
  border-radius: 150px;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactForm input[type="submit"]:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}

.contactForm.error input {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527);
}

.contactForm.error span {
  visibility: visible;
  opacity: 1;
  color: red;
}