/* *{
  
} */
body {
  background-color: #1B263B;
  padding: 5vh 5vw;
}


.all {
  background-color: #0D1B2A;
  border: 1px solid #0D1B2A;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  border-radius: 20px;
  flex-shrink: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
position: relative;
}

#navbar li a, .navlink {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #E0E1DD;
  transition: .3s ease-in-out;
}

#navbar li a:hover {
  color: #778DA9;
}

/*****************************  HERO  ***********************************/


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #E0E1DD;
  padding: 30px 30px; 
  margin: 5px;
  text-align: center;
  
}

.hero .barre {
  width: 100%;
  height: 2px;
  background-color: #415A77; /* Couleur de la barre */
  margin-top: 10px; /* Espace au-dessus de la barre */
  margin-bottom: 10px; /* Espace en-dessous de la barre */
}

.hero img {
  width: 50%;
  height: 50%;
}
.barre2 {
  width: 2px;
  margin-left: 25px;
  height: 70%;
  background-color: #415A77;
}
.divHeroo {
  position: fixed;
}
.hero {
  display: grid;
  grid-template-columns: 95% 5%;
}

/******************************  APropos  **********************************/

.page {
  display: grid;
  grid-template-columns: 30%  70%;
  align-items: center;
  justify-content: center;
  color: #E0E1DD;
}

.page .propos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/**************************** Compétences ********************************/

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}

.card-competence {
  background-color: #1B263B;
  width: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px 20px;
  max-height: 15vh;
  padding-left: 50px;
  padding-right: 10vh;
}


.card-competence img {
  width: auto;
  height: 100%;
  max-width: 9vw;
  object-fit: cover;
}
.image-container {
  padding-right: 2vw;
  width: 10%;
}

.tout-comp {
  max-width: 60vw;
}